<ion-content [fullscreen]="true">  
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Título" [(ngModel)]="titulo"></ion-input>
    </ion-item>
    <ion-button (click)="start()" expand="full">
      <ion-icon slot="start" name="mic-outline"></ion-icon>
      Grabar
    </ion-button>  
  </ion-list>  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="guardar()" expand="full" color="primary" [disabled]="!titulo">
      <ion-icon slot="start" name="save-sharp"></ion-icon>
      Guardar Recordatorio
    </ion-button>
  </ion-toolbar>   
</ion-footer>